body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}
.calculator {
 background-color: #fff;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 width: 300px;
 text-align: center;
}
.calculator h2 {
 margin-bottom: 20px;
 color: #333;
}
.calculator input {
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
}
.calculator .buttons {
 display: flex;
 flex-wrap: wrap;
  justify-content: space-between;
}
.calculator button {
 padding: 10px;
 width: 48%;
 margin-bottom: 10px;
 border: none;
 border-radius: 5px;
 background-color: #007BFF;
 color: #fff;
 cursor: pointer;
 font-size: 16px;
}
.calculator button:hover {
 background-color: #0056b3;
}

#result {
 margin-top: 20px;
 font-size: 18px;
 color: #333;
}
.calculator{
    animation: slideIn 1s ease;
}